* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* colors */
    --clr-b1: #3f93e0;
    --clr-b2: #3273b1;
    --clr-red: #ce4a22;
    --clr-red2: #fa5f5f;
    --clr-gray: #f3f3f3;
    --clr-gray2: #d7d9dd;
    --clr-gray3: #e6ebee;
    --clr-white: #f4f4f4;
    /* --clr-white2: #303e55; */
    --clr-white2: #525868;
    --clr-yellow: #d8d676;
    /* box-shadow */
    --shd-v1: 6px 8px 15px 3px rgba(100, 100, 100, 0.2);
    --shd-v2: 2px 2px 15px 3px rgba(41, 83, 146, 0.5);
}
body {
    font-size: 16px;
    /* background: linear-gradient(#f0efef, #b7d0e2); */
    /* background: linear-gradient(#3e4143, #253139); */
    background-color: var(--clr-white);
    background-color: #e2e4e7;
    background-attachment: fixed;
    min-height: 100vh;
    display: block;
}
body, button, input {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'PT Sans', sans-serif;
    color: #d7d9dd;
    color: #42454b;
}
button {
    cursor: pointer;
}

/* ================================================================= */

.app-container {
    display: block;
    flex-direction: column;
}



/* ================================================================= */

@media (max-width: 500px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 10px;
    }
}