
.crud-filters {
    width: 100%;
    margin: auto;
}
.crud-filter-links {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.crud-filter-link {
    width: 50%;
    max-width: 180px;
    background-color: var(--clr-light-gray);
    list-style: none;
    font-size: 0.9em;
    padding: 9px 18px;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
    color: #42454b;
    transition: background-color ease-in 150ms,
                color ease-in 150ms;
}
.crud-filter-link:not(:last-child) {
    margin-right: 20px;
}

/* form ================================================================ */
.filter-links {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
.filter-link {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 70px;
    width: 20%;
    padding: 3px 20px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: var(--clr-gray2);
    font-size: 0.9em;
    cursor: pointer;
    color: #42454b;
    transition: background-color ease-in 150ms,
                color ease-in 150ms;
}
.marked {
    background-color: var(--clr-blue);
    color: white;
    transition: all ease-in 250ms;
}

.body-container {
    width: 500px;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 50px;
    padding: 30px;
    background-color: #ececec;
    box-shadow: var(--shd-v1);
    border-radius: 0.8rem;
    position: relative;
}
.form-consulta {
    margin-top: 25px;
    width: 100%;
}
.inputs > .input > {
    width: inherit;
}
.inputs > .input > input {
    font-size: 0.9em;
    width: 100%;
    padding: 10px 10px;
    border-radius: 0.5rem;
    border-radius: 0.2rem;
    outline: none;
    background: none;
    background-color: var(--clr-gray2);
    border: 1px solid var(--clr-gray2);
    transition: background-color ease-in 150ms,
                border ease-in 150ms;
}
.inputs > .input > input:focus {
    background-color: #e9f2f8;
    border: 1px solid var(--clr-blue);
}
.inputs > .input > input:nth-of-type(even) {
    margin-left: 8px;
}
.inputs > .input > input::-webkit-outer-spin-button,
.inputs > .input > input::-webkit-inner-spin-button {
    appearance: none;
    scroll-behavior: none;
}
.grid-inputs {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    column-gap: 5px;
}
.grid-inputs-even {
    grid-template-columns: auto auto;
}
.grid-inputs-full {
    grid-template-columns: 1fr;
}
.grid-inputs > .input > input:nth-of-type(even) {
    margin-left: 0;
    text-align: center;
}
.form-consulta > button {
    font-size: 0.9em;
    padding: 9px 18px;
    border-radius: 0.2rem;
    border: 0;
    background-color: var(--clr-blue);
    margin-top: -100%;
    color: white;
    width: 100%;
}
.form-consulta > button:active {
    background-color: var(--clr-blue2);
    box-shadow: var(--shd-v2);
}
.titulo-consulta {
    margin-top: 20px;
    color: #919191;
}
.input {
    position: relative;
}
.hint {
    position: absolute;
    font-size: 0.8em;
    color: var(--clr-dark-gray);
    left: 2%;
    top: -40%;
}
.text-center {
    text-align: center;
}

/* list ================================================================ */
.form {
    width: 100%;
}
table {
    border-collapse: collapse;
    font-size: 0.8em;
    text-align: center;
    width: 418px;
    min-width: fit-content;
    max-width: 95%;
    margin: auto;
    margin-top: 15px;
    border: 0.1px solid #d3d3d3;
}
td, th {
    white-space: nowrap;
    padding: 10px 10px;
    text-align: left;
}
tr:nth-of-type(even) {
    background-color: #e6e6e6;
}
tr:not(:last-child) {
    border-bottom: 0.1px solid #d3d3d3;
}

.titulo-resultado {
    margin-top: 25px;
    text-align: center;
    color: #919191;
    width: 100%;
}
.new-record {
    margin-top: 10px;
}

/* insert list ========================================================= */
.insert-list-container {
    width: 100%;
}
.insert-table-body > tr {
    display: grid;
    grid-template-columns: 8em auto;
    align-items: center;
}
.text-right {
    text-align: right;
}
.insert-list-input-row {
    padding: 5px 5px;
    max-width: 100%;
    display: block;
}
.insert-list-input {
    width: 100%;
    border: 0;
    padding: 5px 10px;
    border-radius: 10px 50px 50px 10px;
    border-radius: 8px;
    outline: none;
}
.faded-text {
    color: #e0dfdf;
}

.warning {
    font-size: 0.75em;
    color: #919191;
    margin-top: 20px;
    text-align: center;
}
.crud-btns-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.crud-btn {
    font-size: 0.9em;
    padding: 9px 18px;
    border-radius: 0.2rem;
    border: 0;
    background-color: var(--clr-blue);
    margin-top: 10px;
}
.crud-btn:not(:first-child) {
    margin-left: 10px;
}
.delete, .edit {
    background-color: #ee9016;
    color: white;
}
.save, .cancel {
    margin-top: 25px;
}
.save {
    background-color: var(--clr-blue);
    color: white;
}
.cancel {
    background-color: var(--clr-gray2);
}
.list-items-btns {
    display: flex;
    position: relative;
    width: 200px;
    margin: auto;
}
.list-btn {
    display: flex;
    border: 0;
    top: 20px;
    padding: 5px;
    font-size: 1.5em;
    position: absolute;
    background-color: transparent;
}
.btn-left {
    left: 0;
}
.btn-right {
    right: 0;
}